@import url("https://fonts.googleapis.com/css?family=Alata");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans');

*{
    margin: 0;
}

.bg-color {
    background-color: #f9dedc;
}

.bg-color1 {
    background-color: #21005D;
}

.bg-color2 {
    background-color: #fff;
}

.bg-color3 {
    background-color: #d9d9d9;
}

.f-family {
    font-family:Albert Sans ;
}

.f-family1 {
    font-family: Alata;
}

.f-color {
    color: #300C7C;
}

.f-color1 {
    color: #ffff;
}

.d-flex {
    display: flex;
}

hr {
    margin: 0px 5rem 20px;
    border: 2px solid ;
}

.c-blue {
    margin: 25px 5rem 25px;
    border: 2px solid #1088AB;
}

.b-radius {
    border-radius: 1px solid ;
    padding: 10px 4px 10px;
}

.nav {
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 80px;
}

.heading {
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    /* position: fixed; */
    padding-top: 30px;
    padding-left: 20px;
}

.title {
    /* position: fixed; */
    padding-left: 30px;
    padding-top: 20px;
    font-family: Alata;
    font-size: 2rem ;
}

.ul-list {
    flex-direction: row;
    list-style-type: none;
    padding-top: 25px;
    margin-left: 730px;
}

.li {
    font-size: 20px;
    padding: 15px;
    padding-bottom: 5px;
}

.li:hover {
    background-color: white;
}
.ques {
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.S1 {
    width: 100%;
    height: 300px;
    flex-direction: row;
}

.text {
    font-size: 3.2rem;
    /* width: 500px; */
    padding-top: 65px;
    padding: 65px;
}

.img {
    padding-right: 80px;
}

.sl-1 {
    align-content: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.7rem;
}

.slogon {
    align-content: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.7rem;
}

.S2 {
    margin: 30px;
    padding: 20px;
    justify-content: center;
}

.S4 {
    width: 100%;
    height: 600px;
    justify-content: center;
    flex-direction: column;
}

.services {
    width: 100%;
    height: 450px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 2rem;
    /* border-radius: 10px; */
}


.box {
    width: 250px;
    height: 350px;
    margin: 25px 90px 25px;
    padding: 15px;
    border-radius: 40px ;
    text-align: center;
    font-size: 1.8rem;
}

.f-head {
    font-size: 1.5rem;
    padding: 20px;
}

.f-head:hover {
    background-color: #f9dedc;
}

.u-list {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.list {
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
    padding: 8px;
}

.btn {
    width: 300px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 3rem;
    margin: 10px 12rem 3rem;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #f9dedc;
    color: #21005D;
}

.Contact {
    margin: 3rem;
    flex-direction: row;
    justify-content: space-around;
}

.f-h {
    text-decoration: underline;
}

.f-p {
    margin: 30px 0px 20px;
}
/*CSS Contact*/

.contact-section {
    width:100%;
    height: 300px;
    margin: 20px;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.address, .phone-email, .contact-form, .social-media {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map {
    margin-top: 2rem;
    margin-right: 10rem;
}

.iframe {
    width:400px;
    height: 300px;
}